<?xml version="1.0" encoding="UTF-8"?>
<configuration status="Error">
	<Properties>
		<Property name="appName">webspider1</Property>
	</Properties>
	<appenders>
		<Console name="consolePrint" target="SYSTEM_OUT">
			<PatternLayout charset="utf-8"
				pattern="%d{MM月dd日 HH:mm:ss,SSS} [%C %M %L行] [%p] - %msg%n" />
		</Console>
		<!-- 日志存放路径是tomcat的根目录 -->
		<RollingFile name="debugFile"
			fileName="${sys:catalina.home}/logs/${appName}/debug.log"
			filePattern="${sys:catalina.home}/logs/${appName}/$${date:yyyy-MM}/debug-%d{MM-dd}.%i.log.gz">
			<filters>
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="debug" onMatch="ACCEPT"
					onMismatch="DENY" />
			</filters>
			<PatternLayout charset="UTF-8">
				<pattern>%d{MM月dd日 HH:mm:ss,SSS} [%C %M %L行] [%p] - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<!-- 封存文件的大小 -->
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<!-- 封存文件的序号的最大值。（超过最大值时，将有文件被删除）默认7 -->
			<DefaultRolloverStrategy max="50" />
		</RollingFile>
		<RollingFile name="infoFile"
			fileName="${sys:catalina.home}/logs/${appName}/info.log"
			filePattern="${sys:catalina.home}/logs/${appName}/$${date:yyyy-MM}/info-%d{MM-dd}.%i.log.gz">
			<filters>
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
					onMismatch="DENY" />
			</filters>
			<PatternLayout charset="UTF-8">
				<pattern>%d{MM月dd日 HH:mm:ss,SSS} [%C %M %L行] [%p] - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>
		<RollingFile name="warnFile"
			fileName="${sys:catalina.home}/logs/${appName}/warn.log"
			filePattern="${sys:catalina.home}/logs/${appName}/$${date:yyyy-MM}/warn-%d{MM-dd}.%i.log.gz">
			<filters>
				<ThresholdFilter level="error" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="warn" onMatch="ACCEPT"
					onMismatch="DENY" />
			</filters>
			<PatternLayout charset="UTF-8">
				<pattern>%d{MM月dd日 HH:mm:ss,SSS} [%C %M %L行] [%p] - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>
		<RollingFile name="errorFile"
			fileName="${sys:catalina.home}/logs/${appName}/error.log"
			filePattern="${sys:catalina.home}/logs/${appName}/$${date:yyyy-MM}/error-%d{MM-dd}.%i.log.gz">
			<filters>
				<ThresholdFilter level="error" onMatch="ACCEPT"
					onMismatch="DENY" />
			</filters>
			<PatternLayout charset="UTF-8">
				<pattern>%d{MM月dd日 HH:mm:ss,SSS} [%C %M %L行] [%p] - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>
		<RollingFile name="customFile"
			fileName="${sys:catalina.home}/logs/${appName}/custom.log"
			filePattern="${sys:catalina.home}/logs/${appName}/$${date:yyyy-MM}/custom-%d{MM-dd}.%i.log.gz">
			<PatternLayout charset="UTF-8">
				<pattern>%d{MM月dd日 HH:mm:ss,SSS} [%C %M %L行] [%p] - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50" />
		</RollingFile>
	</appenders>
	<loggers>
		<!-- <logger name="com.lantian" level="trace" additivity="false"> <appender-ref 
			ref="consolePrint" /> </logger> -->

		<logger name="customLogger" additivity="false">
			<level value="trace" />
			<appender-ref ref="consolePrint" />
			<!-- 生产环境不进行控制台输出 -->
			<appender-ref ref="customFile" />
		</logger>

		<root level="trace">
			<appender-ref ref="consolePrint" />
			<!-- 生产环境不进行控制台输出 -->
			<appender-ref ref="debugFile" />
			<appender-ref ref="infoFile" />
			<appender-ref ref="warnFile" />
			<appender-ref ref="errorFile" />
		</root>
	</loggers>
</configuration>